* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#ou-crimson-heading{
    background-color:#880d1e;
    color: white; 
    font-family:cursive;
    text-align:center;
    padding: 24px;
}

#rusty-red-heading{
    background-color: #dd2d4a;
    color: black;
    font-family:cursive;
    text-align: center;
    padding: 24px;
}

#bright-pink-heading{
    background-color:#F26A8D;
    color: white; 
    font-family:cursive;
    text-align:center;
    padding: 24px;

}

#amaranth-pink-heading{
    background-color: #F49CBB;
    color: white;
    font-family: cursive;
    text-align:center;
    padding: 24px;

}


#light-cyan-heading{
    background-color: #CBEEF3;
    color: black;
    font-family: cursive;
    text-align:center;
    padding: 24px;

}
