* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}


.single-column-layout {
    background-color: lightseagreen;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.single-column-layout-2 {
    background-color: lightseagreen;
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color: lightgreen;
    padding: 48px 0px;
}

.dark-container {
    background-color: darkgreen;
    padding: 48px 0px;
}